// Enter any custom Sass in this file.

.imgWrap{
  background: url("g205sdgs.github.io/sdg-indicators/public/testImgInfo.PNG");
  position: absolute;
}






#imgDown{
  position: absolute;
  z-index:0;
}

#imgUp{
  position: absolute;
  z-index:1;
}
