// Enter any custom Sass in this file.

.imgWrap{
  background: url("g205sdgs.github.io/sdg-indicators/public/testImg.PNG");
  position: absolute;
}






#imgDown{
  position: absolute;
  z-index:0;
}

#imgUp{
  position: absolute;
  width: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index:1;
}
